html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffe5f1;
  }
  
  
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #66ff00d0;
    text-shadow: 3px 3px 1px black;
  }
  

  p{
    font-size: 19px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify
  }


  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify;
  }


  body {
    width: 700px;
    margin: 0 auto;
    background-color: #00ffeaab;
    border-color: #E1F5FE;
    padding: 0 20px 20px 20px;
    border: 2px solid black;
    margin-top: 20px;
  }
  
  img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
